# -------------------------------------
# Node.js
# -------------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Diretórios de build ou cache
dist/
build/
.cache/

# PM2
.pids
*.pid
*.seed
*.pid.lock

# -------------------------------------
# Ambiente (.env)
# -------------------------------------
.env
.env.*
!.env.example

# -------------------------------------
# Logs
# -------------------------------------
logs/
*.log
log.txt

# -------------------------------------
# Puppeteer / PDFs gerados
# -------------------------------------
*.pdf
puppeteer_dev_chrome_profile-*/

# -------------------------------------
# Sistema operacional
# -------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------------
# IDEs e editores
# -------------------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------------------
# Sequelize
# -------------------------------------
/migrations/*.js~
/models/*.js~
/seeders/*.js~
.sequelize-auto/
/config/config.json

# -------------------------------------
# Testes
# -------------------------------------
coverage/
.nyc_output/

# -------------------------------------
# Arquivos temporários
# -------------------------------------
*.tmp
*.temp
